@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
.profile-img {
    float: left;
    width: 10%;
    margin: 1rem;
}
.profile-info {
    float: left;
}
.profile-name{
    font-family: playball;
    font-size: 45px;
    margin: 0;
    color: #99035d;

}
.role{
    font-family: "Nixie one";
    margin: 0;
    color: #003e85;
}
.location{
    font-family: "Nixie one";
    margin: 0.5rem 0rem 1rem 0rem;
    color: #850085;
    
}
.about {
    width: 50%;
    clear: both;
    float: left;
    padding-right: 2rem;
    border-right: 1px solid grey;
}
.section{
    font-family: "Nixie one";
    font-weight: bold;
    clear: both;
    color: #b80000;
}
.skill{
    float: left;
    padding-left: 2rem;
    width: 20%;
}
.skills{
    font-family: kufam;
    font-size: 12px;
}
.detail{
    font-family: kufam;
    font-size: 12px;
    color: #999;
}