.item{
    border: 2px solid red;
    /* width: 150px; */
    height: 100px;

}
.container{
    border: 2px solid green;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}